## useDynLib(spCopula)

import(copula, sp)

export(asCopula, cqsCopula)
export(fitCopula)
export(neighbourhood)
exportClasses(asCopula, cqsCopula, neighbourhood)
export(dducopula,ddvcopula)
export(invdducopula, invddvcopula)
export(setSizeLim)
export(getNeighbours)

## exportClasses(mvdc) ## S4 methods
## exportMethods(persp, contour)
## S3method(print, indepTest)
## importClassesFrom(package, ...)
## importMethodsFrom(package, ...)



