import(copula, VineCopula)
import(sp, spacetime)
import(methods)

# constructor
export(asCopula, cqsCopula)
export(tawn3pCopula)
export(spCopula, stCopula)
export(spVineCopula, stVineCopula)
export(stCoVarVineCopula)
export(neighbourhood, stNeighbourhood)
export(empiricalCopula, genEmpCop)

# general functions
export(rankTransform, dependencePlot, unitScatter, univScatter)
export(fitCopula)
export(dduCopula,ddvCopula)
export(invdduCopula, invddvCopula)
export(qCopula_u, qCopula_v)
export(condSpVine,spCopPredict)
export(condStVine,stCopPredict)
export(condStCoVarVine, condCovariate)
export(spGaussCopPredict, spGaussLogLik)

# tweaks
# export(setSizeLim)

# spatial
export(getNeighbours, getStNeighbours)
export(calcBins)
export(calcSpTreeDists, dropSpTree, dropStTree)
export(reduceNeighbours)

# fitting
export(fitCorFun, loglikByCopulasLags, loglikByCopulasStLags, fitSpCopula, composeSpCopula)
export(tailDepFun, lowerTailDepFun, upperTailDepFun)
export(empTailDepFun, lowerEmpTailDepFun, upperEmpTailDepFun)

# MRP functions
export(genEmpKenFun, genInvKenFun)
export(kendallRP, criticalLevel, kendallDistribution, getKendallDistr)
export(criticalPair, criticalTriple)
export(kendall)

## classes
exportClasses(asCopula, cqsCopula, tawn3pCopula, neighbourhood, stNeighbourhood, empiricalCopula)
exportClasses(spCopula, stCopula, spVineCopula, stVineCopula)
exportClasses(stCoVarVineCopula)